<div>
  <ul>
    <li style="list-style-type: none;" ng-repeat="item in cart.cart">
      <div><i ng-click="cart.removeFromCart(item)" class="fa fa-times fa-2x" aria-hidden="true"></i>Shoe: {{ item.name }} Price: ${{ item.price }}</div>
    </li>
  </ul>
  <div>
    <h4>Total: ${{ cart.totals.subTotal }}</h4>
    <h5>Tax: %{{ (cart.totals.tax*100) }}</h5>
    <h5>Shipping: ${{ cart.totals.shipping }}</h5>
    <h4>Order Total: ${{ cart.totals.grandTotal }}</h4>
    <a href="/checkout" type="button" name="button">Checkout</a>
  </div>
</div>
