<div>
  <div class="col-md-12">
    <ul>
      <li style="list-style-type: none;" class="col-md-3" id="shoe-description" ng-repeat="shoe in store.shoesList | filter:search">
        <div>
          <img id="shoe-image" src="{{ 'assets/' + shoe.image }}" alt="{{shoe.name + 'Image'}}" />
          <h2 id="shoe-brand"> {{ shoe.brand }} </h2>
          <h3 id="shoe-name"> {{ shoe.name }} </h3>
          <h4 id="shoe-size"> Size: {{ shoe.size }} </h4>
          <h5 id="shoe-price"> Price: ${{ shoe.price }} </h5>
          <button ng-click="store.addToCart(shoe)"> Add to Cart </button>
        </div>
      </li>
    </ul>
  </div>
</div>
