<div id="angular-store-div">
  <ul>
    <li style="list-style-type: none;" class="col-xs-6 col-lg-3" id="shoe-description" ng-repeat="shoe in store.shoesList | filter:search">
      <div id="shoe-box">
        <div id="shoe-box-contents">
          <div  class="">
            <img id="shoe-image" src="{{ 'assets/' + shoe.image }}" alt="{{shoe.name + 'Image'}}" />
          </div>
          <div id="shoe-info" class="">
            <h5 id="shoe-brand"> {{ shoe.brand }} </h5>
            <h5 id="shoe-name"> {{ shoe.name }} </h5>
            <h5 id="shoe-size"> Size: {{ shoe.size }} </h5>
            <h5 id="shoe-price"> Price: ${{ shoe.price }} </h5>
            <div id="shoe-btn-div" class="">
              <button id="shoe-btn" class="btn btn-primary" ng-click="store.addToCart(shoe)"> Add to Cart </button>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
