/*jumbotron style */
#jumbo {
  text-align: center;
  background-image: url('');
  height: 275px;
  background-position: center;
}
#logo {
  color: yellow;
}
#slogan {
  color: white;
}

/* single shoe card*/
#shoe-image {
  padding-top: 40px;
}
#shoe-description {

}
#shoe-brand {
  color: blue;
  text-transform: capitalize;
  text-decoration: underline;
}
#shoe-name {

}
#shoe-size {

}
#shoe-price {
  font-weight: 900;
}
