/*jumbotron style */
#jumbo {
  position: relative;
  padding-top: 0px;
  text-align: center;
  height: 900px;
  overflow: hidden;
  z-index: -100;
}
#video-background {
  position: absolute;
  height: auto;
  width: auto;
  min-height: 100%;
  min-width: 100%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0);
  transform: translate3d(-50%, -50%, 0);

}
#logo-slogan {
  position: relative;

}
#logo {
  padding-top: 200px;
  color: white;
  font-family: 'Roboto', sans-serif;
position: relative;
}
#slogan {
  color: white;
  font-family: 'Roboto', sans-serif;
position: relative;
}
#scroll-btn {
  z-index: 100;
  top:65%;
  width: 100%;
  position: absolute;
  color: white;
  text-align: center;
}
#scroll-btn:hover {
  text-decoration: underline;
  cursor: pointer;
}
#scroll-btn:active {
  color: lightgreen;
}

/*nav bar style*/
#view-bar {
  font-family: 'Roboto', sans-serif;
  margin-top: 60px;
  text-align: center;
  z-index: 3;
}
#store-btn{
  color: lightblue;
}

#view-bar-cart {
  font-family: 'Roboto', sans-serif;
  color: lightblue;
}
#store-nav {
  font-family: 'Roboto', sans-serif;
  color: white;
}
#store-nav{
}
#search-bar {
  text-align: center;
}
#home-icon {
color: lightblue;
  -webkit-transition: width 1s, height 1s, background-color 1s, -webkit-transform 1s;
transition: width 1s, height 1s, background-color 1s, transform 1s;
}
#home-icon:hover{
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
  color: lightgreen;
}

/* store shoe display*/
#shoe-box {
  text-align: center;
  padding: 25px;
  margin: 25px;
  border-style: outset;
  background-color: white;
  border-radius: 20px;
}
#shoe-box:hover {
  background-color: lightblue;
}
#shoe-box-contents {
  overflow: hidden;
}
#shoe-box-contents:hover {

}
#shoe-image {
  height: inherit;;
  padding-top: 40px;
}
#shoe-description {

}
#shoe-brand {
  color: blue;
  text-transform: capitalize;
  text-decoration: underline;
}
#shoe-name {

}
#shoe-size {

}
#shoe-price {
  font-weight: 900;
}

/*cart*/

#cart-view {
}
#remove-x {
  font-family: 'Roboto', sans-serif;
  color: red;
}

/*view for templates*/
#store-div {
  padding-bottom: 200px;
}
#cart-div {
  padding-bottom: 200px;
}
#checkout-div {
  padding-bottom: 200px;
}
#confirm-div {
  padding-bottom: 200px;
}

/*footer*/
#footer {
  height: 5%;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 100;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;



}
